.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}
.button-toolbar:hover{
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}
md-toolbar md-button.md-fab,
md-toolbar md-button.md-fab:hover:not([disabled]),
md-toolbar md-button.md-fab.focus:not([disabled]) {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}
md-input-group.long > input {
    width: 80%;
}
md-input-group.medium > input {
    width: 60%;
}
select {
   width:100px;
   overflow: hidden;
   background: #F8F8F8;
   border: 1px solid #DDDDDD;
   height: 30px;
   border-radius:2px;
   color: inherit;
 }

select {
  width: 80%;
  border: 0;
  border-bottom: 1;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
  background: transparent url("/img/smart_arrows.png") no-repeat scroll 97% 8px;
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: transparent url("/img/smart_arrows@2x.png") no-repeat scroll 97% 8px;
      background-size: 16px 144px;
    }
}
