<md-dialog aria-label="Evaluados" style="width: 600px;">

    <md-content>

        <md-card>

            <md-subheader class="md-sticky-no-effect"><h2 tabindex="0">Areas de conocimiento </h2></md-subheader>

            <md-list>
                <md-item ng-repeat="item in knowledgeAreas">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left">
                                <img ng-src="cdn.gentebool.com/evaluon/{{item.image.location}}" alt="{{item.description}}">
                            </div>
                            <div class="md-tile-content">
                                <h3 tabindex="0">{{item.id}}</h3>
                                <h2 tabindex="0">{{item.description}}</h2>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>

            <md-item>
                <md-item-content>
                    <div class="md-tile-left">
                    </div>
                    <div class="md-tile-content">
                        <h3 tabindex="0">Petición de área de conocimiento</h3>
                        <br>
                        <form name="addAreaForm" ng-submit="add($event, data)">
                            <md-text-float label="Nombre" ng-model="data.id" name="id" class="medium" required> </md-text-float>
                            <md-text-float  label="Descripción" ng-model="data.description" name="description" class="medium" required> </md-text-float>
                            <md-button type="submit" aria-label="Agregar periodo" ng-disabled="addAreaForm.$invalid" class="md-fab md-primary md-fab-bottom-right" md-theme="red" ng-disabled="addPeriodForm.$invalid" >
                                <md-tooltip>
                                    Agregar
                                </md-tooltip>
                                <i class="mi mi-done"></i>
                            </md-button>
                        </form>
                    </div>
                </md-item-content>
            </md-item>

        </md-card>

    </md-content>

</md-dialog>
