<md-dialog aria-label="Agregar Evaluador" layout="column" style="width: 60vw">

    <md-content>

        <md-header class="md-sticky-no-effect">Agregar Evaluador</md-header>
        <md-content flex layout="row" layout-phone="column">

            <md-content flex="40" layout="column" layout-align="center">
                <form ng-submit="addExisting()">

                    <md-subheader style="padding-left: 0">Agregar evaluador existente</md-subheader>

                    <div class="row">
                        <md-text-float label="Documento de Identidad" ng-model="group.evaluator_id" required></md-text-float>
                    </div>

                    <md-button type="submit" class="md-primary">Agregar</md-button>

                </form>
            </md-content>

            <md-content flex>
                <form ng-submit="registerNew()">

                    <md-subheader style="padding-left: 0">Registrar Evaluador</md-subheader>

                    <md-text-float label="Documento de Identidad" ng-model="user.id" required></md-text-float>
                    <md-text-float label="Nombre" ng-model="user.first_name" required></md-text-float>
                    <md-text-float label="Apellido" ng-model="user.last_name" required></md-text-float>

                    <md-text-float type="date" label="Fecha de Nacimiento" ng-model="user.birth_date" required></md-text-float>

                    <md-text-float type="email" label="Correo Electrónico" ng-model="institution.mail" required> </md-text-float>
                    <md-text-float label="Número Teléfono" ng-model="user.phone_number" required> </md-text-float>

                    <md-text-float type="password" label="Contraseña" ng-model="user.password" required> </md-text-float>
                    <md-text-float label="Área de trabajo" ng-model="evaluator.area" required></md-text-float>

                    <md-button type="submit" class="md-primary">Registrar</md-button>

                </form>
            </md-content>

        </md-content>


    </md-content>

</md-dialog>
