<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Periodos activos</span>
                <span flex></span>

                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getPeriodes()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-button class="md-primary md-fab md-fab-bottom-right" md-theme="red" ng-click="addPeriod($event)" style="position: fixed;">
                <md-tooltip>
                    Agregar Periodo
                </md-tooltip>
                <i class="mi mi-add"></i>
            </md-button>
            <md-list>
                <md-item ng-repeat="item in periodes">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left"><h3>{{item.id}}.</h3></div>
                            <div class="md-tile-content">
                                <h3>{{item.start_date | date: 'longDate'}} - {{item.stop_date | date: 'longDate'}}</h3>
                                <!-- md-fab md-fab-bottom-right-->
                                <md-button class="" aria-label="Editar periodo" ng-click="updatePeriod($event, item)">
                                    <md-tooltip>
                                        Editar
                                    </md-tooltip>
                                    <i class="mi mi-restore"></i>
                                </md-button>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
