<div layout="horizontal" layout-padding layout-align="center" >
    <div flex="40">
        <md-toolbar class="md-whiteframe-z3">
            <div class="md-toolbar-tools">
                <span>Cambiar contraseña</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content class="md-padding md-whiteframe-z5" md-theme="light-blue-dark" layout-padding layout-align="center">
            <form layout="vertical" name="changePasswordForm" layout-align="center center" ng-submit="changePassword($event, user)">
                <md-text-float label="Contraseña" type="password" ng-model="user.pass1" ng-required="true" class="large"> </md-text-float>
                <md-text-float label="Repite la contraseña" type="password" ng-model="user.pass2" ng-required="true" class="large"> </md-text-float>
                <br>
                <p class="invalid" ng-if="user.pass1.length < 6">La contraseña tiene que tener un mínimo de 6 carácteres</p>
                <p class="invalid" ng-if="(user.pass1 != user.pass2)">Las contraseñas no coinciden</p>
                <md-button type="submit" aria-label="Iniciar Sesion" md-theme="light-blue-dark" class="md-primary" ng-disabled="changePasswordForm.$invalid || user.pass1.length < 6 || (user.pass1 != user.pass2)">
                    Cambiar contraseña
                </md-button>
            </form>
        </md-content>
    </div>
</div>
