<md-dialog aria-label="Evaluados" style="width: 600px;">

    <md-content>
        <md-list>
            <md-card>
                <md-subheader class="md-sticky-no-effect"><h2>Evaluados Grupo {{group}}</h2></md-subheader>
                <md-item ng-repeat="item in evaluees">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left">

                            </div>
                            <div class="md-tile-content">
                                <h3>{{item.first_name}} {{item.last_name}}</h3>
                                <h4>{{item.id}}</h4>
                                <h4>{{item.institution}}</h4>
                                <h4>{{item.mail}}</h4>
                                <h4>{{item.phone_number}}</h4>
                                <br>

                                <md-button class="md-fab md-fab-bottom-right" ng-click="delete($event, item.id)" >
                                    <md-tooltip>
                                        Eliminar
                                    </md-tooltip>
                                    <i class="mi mi-delete"></i>
                                </md-button>
                            </div>
                        </md-item-content>
                    </md-card>

                </md-item>
                <md-item>
                    <md-item-content>
                        <div class="md-tile-left">
                        </div>
                        <div class="md-tile-content">
                            <h3>Agregar Evaluado</h3>
                            <form ng-submit="add($event, evaluee.id)">
                                <md-text-float label="Evaluado" ng-model="evaluee.id" class="md-fab-bottom-left" required> </md-text-float>
                                <md-button type="submit" aria-label="Iniciar Sesion" class="md-fab md-primary md-fab-bottom-right" md-theme="red">
                                    <md-tooltip>
                                        Agregar
                                    </md-tooltip>
                                    <i class="mi mi-add"></i>
                                </md-button>
                            </form>
                        </div>
                    </md-item-content>
                </md-item>
            </md-card>
        </md-list>
    </md-content>
</md-dialog>
