<div layout="horizontal" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')"  layout="vertical">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Evaluador</h1>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme" style="height: 700px;">
            <md-button>
                Grupos
            </md-button>
            <md-button ui-sref="anon.logout">
                Cerrar sesión
            </md-button>
        </md-content>
    </md-sidenav>
    <div layout="vertical" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Evaluon</span>
            </div>
        </md-toolbar>
        <md-content ui-view>

        </md-content>
    </div>
</div>
