<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Evaluados</span>
                <span flex></span>

                <md-button class="md-fab md-primary" ng-if="evaluees.length > 0" aria-label="Exportar" ng-csv="evaluees_es" csv-header="headers" filename="test-{{testId}}-group-{{groupId}}.csv">
                    <md-tooltip>
                        Exportar
                    </md-tooltip>
                    <i class="mi mi-cloud-download"></i>
                </md-button>

                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getEvaluees()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-list>
                <md-item ng-repeat="item in evaluees">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-content">
                                <h3 tabindex="0">{{item.first_name}} {{item.last_name}}</h3>
                                <p tabindex="0">{{item.mail}}</p>
                                <p tabindex="0">{{item.phone}}</p>
                                <p tabindex="0">{{item.level}}</p>
                                <p tabindex="0">{{item.disability}}</p>
                                <p tabindex="0" ng-if="item.checked"><b>Calificado</b></p>
                                <p tabindex="0" ng-if="!item.checked"><b>No calificado</b></p>
                                <br>
                                <!-- md-fab md-fab-bottom-right-->
                                <md-button ng-if="inInstitution" class="md-fab md-fab-top-right" ui-sref="institution.scoreTest({id: testId, evalueeId: item.id})" aria-label="Calificaciones del examen">
                                    <md-tooltip>
                                        Calificaciones
                                    </md-tooltip>
                                    <i class="mi mi-assignment-turned-in"></i>
                                </md-button>
                                <md-button ng-if="inEvaluator" class="md-fab md-fab-top-right" ui-sref="evaluator.scoreTest({id: testId, evalueeId: item.id})" aria-label="Calificar examen">
                                    <md-tooltip>
                                        Calificar
                                    </md-tooltip>
                                    <i class="mi mi-assignment-turned-in"></i>
                                </md-button>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
