<div layout="horizontal" layout-padding layout-align="center">
    <div flex= "90" layout-fill>
        <br><br><br><br>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Banco de preguntas</span>
                <span flex></span>
                <md-text-float label="Busqueda" ng-model="search"> </md-text-float>
                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getInstitutions()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 480px;">
            <md-list>
                <section ng-repeat="area in knowledgeAreas">
                    <md-subheader class="md-primary"><h3 tabindex="0">{{area.id}}</h3></md-subheader>
                    <md-list>
                        <md-item>
                            <md-card ng-repeat="question in questionBank | filter: {knowledge_area_id: area.id, description_text: search} ">
                                <md-item-content>
                                    <div class="md-tile-left"><h3 tabindex="0">{{question.id}}</h3></div>
                                    <div class="md-tile-content">
                                        <h3 tabindex="0">{{question.description_text}}</h3>
                                        <p tabindex="0">Dificultad: {{question.difficulty}}</p>
                                        <div ng-if="question.image" style="text-align: center;">
                                            <img tabindex="0" ng-if="question.image" ng-src="{{question.image.location | image }}" alt="{{question.image.description}}">
                                            <p tabindex="0"><b>Descripción</b> {{question.image.description}}</p>
                                        </div>
                                        <p tabindex="0" ng-repeat="answer in question.answers" ng-class="{'correct': answer.right == 1}">{{$index + 1}}. {{answer.description_text}}</p>
                                    </div>
                                </md-item-content>
                            </md-card>
                        </md-item>
                    </md-list>
                </section>
            </md-list>
        </md-content>
    </div>
</div>
