<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Resultado</span>
                <span flex></span>
                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getResults()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-list>
                <md-item>
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left"><h3></h3></div>
                            <div class="md-tile-content">
                                <h3>{{test.description}}</h3>
                                <h4>Creado: {{test.create_date | date: 'medium'}}</h4>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
                <md-item ng-repeat="item in test.questions">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left"><h3>{{$index+1}}</h3></div>
                            <div class="md-tile-content">
                                <h3>{{item.question}}</h3>
                                <h4>{{item.knowledge_area_id}}</h4>
                                <h4>Respuesta: {{item.answer}}</h4>
                                <div ng-if="item.right != null">
                                    <h4 ng-if="item.right == 0" style="color: red;">Incorrecta</h4>
                                    <h4 ng-if="item.right == 1" style="color: #5ed95b">Correcta</h4>
                                    <h4 ng-if="item.right == null">No Calificada</h4>
                                </div>
                                <div ng-class="{'no-permission': inInstitution }" ng-if="item.right == null">
                                    <md-button class="md-fab" ng-click="calificate(item.answer_id, true)">
                                        <md-tooltip>
                                            Correcta
                                        </md-tooltip>
                                        <i class="mi mi-done"></i>
                                    </md-button>
                                    <md-button class="md-fab"  ng-click="calificate(item.answer_id, false)">
                                        <md-tooltip>
                                            Incorrecta
                                        </md-tooltip>
                                        <i class="mi mi-clear"></i>
                                    </md-button>
                                </div>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
                <md-item ng-class="{'no-permission': inInstitution }">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left"><h3></h3></div>
                            <div class="md-tile-content">
                                <h3>Retroalimentación</h3>
                                <md-text-float label="" class="long" ng-model="test.feedback"></md-text-float>
                                <md-button class="md-fab md-fab-bottom-right" ng-click="setFeedback(test.feedback)">
                                    <md-tooltip>
                                        Enviar
                                    </md-tooltip>
                                    <i class="mi mi-done"></i>
                                </md-button>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
