<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Exámenes</span>
                <span flex></span>
                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getTests()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-button ng-class="{'no-permission': includeInstitution }" ui-sref="evaluator.addTest({institution: institutionId, id: groupId})"class="md-primary md-fab md-fab-bottom-right" md-theme="red" ng-click="addInstitution()" style="position: fixed;">
                <md-tooltip>
                    Agregar examen
                </md-tooltip>
                <i class="mi mi-add"></i>
            </md-button>
            <md-list>
                <md-item ng-repeat="item in tests">
                    <md-card>
                        <md-content>
                            <div class="md-tile-content">
                                <h3>{{item.id}}. {{item.description}}</h3>
                                <h4>{{item.start_date | date: 'medium'}} - {{item.stop_date | date: 'medium'}}</h4>
                                <br>
                                <h4>Clave de acceso: <b>{{item.hotp}}</b></h4>

                                <md-button ng-class="{'no-permission': includeInstitution }" ng-click="uptadeTestPeriod($event, item)" class="md-fab md-fab-top-right" ng-click="">
                                    <md-tooltip>
                                        Cambiar periodo
                                    </md-tooltip>
                                    <i class="mi mi-restore"></i>
                                </md-button>

                                <md-button ng-if="includeInstitution" ui-sref="institution.evalueeTest({group: groupId, id: item.id})">
                                    <md-tooltip>
                                        Supervisar
                                    </md-tooltip>
                                    <i class="mi mi-supervisor"></i>
                                </md-button>

                                <md-button ng-if="includeEvaluator" ui-sref="evaluator.evalueeTest({group: groupId, id: item.id})">
                                    <md-tooltip>
                                        Supervisar
                                    </md-tooltip>
                                    <i class="mi mi-supervisor"></i>
                                </md-button>
                            </div>
                        </md-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
