<div layout="horizontal" layout-padding layout-align="center">
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Actualizar test {{params.test}}</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 480px;">
            <md-list>
                    <md-list>
                        <md-item ng-repeat="question in test">
                            <md-card>
                                <div class="md-tile-left">
                                    <h3>{{question.id}}</h3>
                                </div>
                                <div class="md-tile-content">
                                    <h3 contenteditable="true"
                                    ng-model="question.description_text"
                                    strip-br="true"
                                    select-non-editable="true">
                                        </h3>
                                        Dificultad:
                                        <span contenteditable="false"
                                            ng-model="question.difficulty"
                                            strip-br="true"
                                            select-non-editable="true" >
                                        {{question.difficulty}}
                                        </span>
                                    <div ng-if="question.image" style="text-align: center;">
                                        <img tabindex="0" ng-if="question.image" ng-src="http://cdn.gentebool.com/evaluon/{{question.image.location}}" alt="{{question.image.description}}">
                                        <p tabindex="0"><b>Descripción</b> {{question.image.description}}</p>
                                    </div>
                                    <br><br>
                                    <div ng-repeat="answer in question.answers">
                                        {{$index + 1}}.
                                        <span ng-class="{'correct': answer.right == 1}"
                                            contenteditable="true"
                                            ng-model="answer.description_text"
                                            strip-br="true"
                                            select-non-editable="true">
                                        </span>
                                        <br><br>
                                    </div>

                                    <md-button ng-if="question.public == 0"
                                    ng-click="updateQuetion(question)"
                                    class="md-fab md-fab-top-right" md-theme="red"
                                    aria-label="Actualizar">
                                        <md-tooltip>
                                            Actualizar
                                        </md-tooltip>
                                        <i class="mi mi-done"></i>
                                    </md-button>

                                </div>
                            </md-card>
                        </md-item>
                    </md-list>
            </md-list>
        </md-content>
    </div>
</div>
