<md-dialog aria-label="Evaluados" style="width: 600px;" aria-hidden="true">

    <md-content>

        <md-card>

            <md-subheader class="md-sticky-no-effect"><h2 tabindex="0">Actualizar Periodo </h2></md-subheader>

            <md-item>
                <md-item-content>
                    <div class="md-tile-left">
                    </div>
                    <div class="md-tile-content">
                        <h3 tabindex="0">Actualizar Periodo</h3>
                        <br>
                        <form name="addPeriodForm" ng-submit="update($event, data)" novalidate>
                            <h5 tabindex="0">Fecha de inicio:</h5>
                            <md-text-float  ng-model="data.start_date" type="datetime-local" name="start_date" class="medium" required> </md-text-float>
                            <h5 tabindex="0">Fecha final:</h5>
                            <md-text-float  ng-model="data.stop_date" type="datetime-local" name="stop_date" class="medium" required> </md-text-float>
                            <md-button type="submit" aria-label="Actualizar periodo" class="md-fab md-primary md-fab-bottom-right" md-theme="red" ng-disabled="addPeriodForm.$invalid || data.start_date >= data.end_date" >
                                <md-tooltip>
                                    Actualizar
                                </md-tooltip>
                                <i class="mi mi-done"></i>
                            </md-button>
                        </form>
                    </div>
                </md-item-content>
            </md-item>

        </md-card>

    </md-content>

</md-dialog>
