<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Aprobar Areas</span>
                <span flex></span>

                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getAreas()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-list>
                <md-item ng-repeat="item in areas">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left">
                                <img ng-src="http://cdn.boolinc.co/evaluon/{{item.image.location}}" class="face" alt="{{item.image.description}}">
                            </div>
                            <div class="md-tile-content">
                                <h3>{{item.id}}</h3>
                                <h4>{{item.description}}</h4>
                                <md-text-float label="Observaciones" class="long" ng-model="item.observations"></md-text-float>
                                <md-button class="" aria-label="Aceptar Institucion" ng-click="approve(item.id, item.observations)">
                                    <md-tooltip>
                                        Aceptar
                                    </md-tooltip>
                                    <i class="mi mi-done"></i>
                                </md-button>
                                <md-button class="" aria-label="Denegar Institucion" ng-click="reject(item.id, item.observations)">
                                    <md-tooltip>
                                        Denegar
                                    </md-tooltip>
                                    <i class="mi mi-clear"></i>
                                </md-button>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
