<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Aprobar Instituciones</span>
                <span flex></span>

                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getInstitutions()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-list>
                <md-item ng-repeat="item in institutions">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left">
                                <img ng-src="http://186.154.240.187:1045/{{item.image.location}}" class="face" alt="{{item.image.description}}">
                            </div>
                            <div class="md-tile-content">
                                <h3 tabindex="0">{{item.name}} </h3>
                                <p tabindex="0">NIT: {{item.id}}</p>
                                <p tabindex="0">{{item.address}}</p>
                                <p tabindex="0">{{item.mail}}</p>
                                <p tabindex="0">Tel: {{item.phone_number}}</p>
                                <hr style="width: 60%">
                                <h4 tabindex="0">Administrador:</h4>
                                <p tabindex="0">{{item.administrator.first_name}} {{item.administrator.midle_name}} {{item.administrator.last_name}}</p>
                                <p tabindex="0">Area: {{item.administrator.area}}</p>
                                <p tabindex="0">{{item.administrator.mail}}</p>
                                <p tabindex="0">Tel: {{item.administrator.phone_number}}</p>
                                <md-text-float label="Observaciones" class="long" ng-model="item.denial_reason"></md-text-float>
                                <md-button class="" aria-label="Aceptar Institucion" ng-click="approve(item.id)">
                                    <md-tooltip>
                                        Aceptar
                                    </md-tooltip>
                                    <i class="mi mi-done"></i>
                                </md-button>
                                <md-button class="" aria-label="Denegar Institucion" ng-click="reject(item.id, item.denial_reason)">
                                    <md-tooltip>
                                        Denegar
                                    </md-tooltip>
                                    <i class="mi mi-clear"></i>
                                </md-button>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
