<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Usuarios</span>
                <span flex></span>
                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getUsers()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-button class="md-primary md-fab md-fab-bottom-right" md-theme="red" ng-click="addUser()" style="position: fixed;">
                <md-tooltip>
                    Agregar examen
                </md-tooltip>
                <i class="mi mi-add"></i>
            </md-button>
            <md-list>
                <md-item ng-repeat="item in users">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left">
                            </div>
                            <div class="md-tile-content">
                                <h3>{{item.id}} </h3>
                                <h4>{{item.first_name}} {{item.middle_name}} {{item.last_name}}</h4>
                                <h4>{{item.mail}}</h4>
                                <h4>{{item.phone_number}}</h4>
                                <h4>{{item.birth_date | date : 'mediumDate'}}</h4>
                                <h4>Usuario desde {{item.register_date | date : 'medium'}}</h4>

                                <md-button class="md-fab md-fab-bottom-right" ng-click="updateUser($event, item)">
                                    <md-tooltip>
                                        Actualizar
                                    </md-tooltip>
                                    <i class="mi mi-cached"></i>
                                </md-button>
                                <md-button ng-if="item.enabled = 1" ng-click="blockUser(item.id)">
                                    <md-tooltip>
                                        Bloquear
                                    </md-tooltip>
                                    <i class="mi mi-clear"></i>
                                </md-button>
                                <md-button ng-if="item.enabled = 0" ng-click="blockUser(item.id)">
                                    <md-tooltip>
                                        Desbloquear
                                    </md-tooltip>
                                    <i class="mi mi-done"></i>
                                </md-button>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
