<div layout="horizontal" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')"  layout="vertical">
        <md-toolbar>
            <h1 class="md-toolbar-tools">INCI</h1>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme" style="height: 700px;" layout-padding>
            <md-button ui-sref="entity.home" aria-label="Entra a instituciones">
                Instituciones
            </md-button>
            <md-button ui-sref="entity.statistics" aria-label="Entra a estadísticas">
                Estadísticas
            </md-button>
            <md-button ui-sref="entity.approveInstitutions" aria-label="Entra a aprovar instituciones">
                Aprobar Instituciones
            </md-button>
            <md-button ui-sref="entity.changePassword" aria-label="Entra a cambiar contraseña">
                Cambiar contraseña
            </md-button>
            <md-button ui-sref="anon.logout" aria-label="Entra a cerrar sesión">
                Cerrar sesión
            </md-button>
        </md-content>
    </md-sidenav>
    <div layout="vertical" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Evaluon</span>
            </div>
        </md-toolbar>
        <md-content ui-view>

        </md-content>
    </div>
</div>
