<div layout="horizontal" layout-padding layout-align="center" >
    <div flex= "90" layout-fill>
        <md-toolbar class="md-default-theme md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span>Instituciones</span>
                <span flex></span>
                <md-button class="md-fab md-primary button-toolbar" aria-label="Recargar" ng-click="getInstitutions()">
                    <md-tooltip>
                        Recargar
                    </md-tooltip>
                    <i class="mi mi-refresh"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex layout="vertical" class="md-default-theme md-whiteframe-z1" style="height: 500px;">
            <md-list>
                <md-item ng-repeat="item in institutions">
                    <md-card>
                        <md-item-content>
                            <div class="md-tile-left">
                                <img ng-src="{{item.image.location}}" class="face" alt="{{item.image.description}}">
                            </div>
                            <div class="md-tile-content">
                                <h3>{{item.name}} </h3>
                                <h4>NIT: {{item.id}}</h4>
                                <h4>{{item.address}}</h4>
                                <h4>{{item.mail}}</h4>
                                <h4>{{item.phone_number}}</h4>
                            </div>
                        </md-item-content>
                    </md-card>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
