<div layout="row" layout-padding>
    <div flex>
        <h3>Nivel general de usuarios:</h3>
        <nvd3-bar-graph chart-id="levelUsers" data="usersLevelsData" duration="350" height="500" horizontal="true" responsive="true"></nvd3-bar-graph>
    </div>
</div>

<div layout="row" layout-padding>
    Hola
    <div flex>
        <nvd3-pie-chart chart-id="disability" data="data" width="300" height="300" duration="1000" label-type="percent" responsive="true"></nvd3-pie-chart>
    </div>
    <div flex>
        <nvd3-pie-chart chart-id="level" data="data" width="300" height="300" duration="1000" label-type="percent" responsive="true"></nvd3-pie-chart>
    </div>
</div>
