<div layout="row" layout-padding>
    <div flex>
        <md-card>
            <nvd3-pie-chart chart-id="disabilityData" data="disabilityData" width="200" height="200" duration="1000" label-type="percent" responsive="true"></nvd3-pie-chart>
        </md-card>
    </div>
    <div flex>
        <md-card>
            <nvd3-pie-chart chart-id="typeData " data="typeData " width="300" height="300" duration="1000" label-type="percent" responsive="true"></nvd3-pie-chart>

        </md-card>
    </div>
</div>
